@import "~normalize.css";

body {
  font-family: "Roboto";
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.title {
  margin-bottom: 6px;
  margin-top: 12px;
  font-size: 48px;
  text-align: center;
  color: #1976d2;
  @media (max-width: 450px) {
    font-size: 33px;
  }
}

.home-title {
  text-align: center;
  color: #1976d2;
  font-size: 44px;
  margin-top: 0;
  @media (max-width: 450px) {
    font-size: 33px;
  }
}

h2 {
  margin-top: 0;
  color: #1976d2;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 16px;
}

fieldset {
  border: 3px solid #1976d2;
  border-radius: 8px;
  margin-bottom: 30px;
  @media (max-width: 450px) {
    padding: 6px;
  }
  h2 {
    margin: 8px;
  }
}

.stats {
  color: #2196f3;
}

.home-page {
  display: flex;
  justify-content: center;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.statistic {
  display: inline-block;
  min-width: 210px;
}

.last-todo {
  display: inline-block;
}
