.todo {
  min-width: 275px;
  margin-bottom: 15px;
  &_comp {
    border: 1px solid #00a152;
    box-shadow: none;
  }
  .todo__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 450px) {
      justify-content: flex-start;
      flex-direction: column;
    }
  }
  .todo__title {
    font-weight: 500;
    &_comp {
      color: #00a152;
    }
  }
  .todo__text {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .todo__date {
    font-size: 14px;
    color: #999;
  }
  .todo__status {
    font-size: 14px;
    color: #1976d2;
    margin-top: 20px;
    &_comp {
      color: #00a152;
    }
  }
  .todo__btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .todo__btn-comp {
    width: 100%;
    margin: 5px 0;
    &_comp {
      color: #00a152;
      border-color: #00a152;
    }
  }
  .todo__btn-del {
    width: 100%;
    margin: 5px 0;
  }
}

.lastTodos {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__card {
    box-sizing: border-box;
    width: 290px;
    margin: 5px;
  }
}